html{
	background-color: black;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.informacion1{
	width:100%;
	background: url('https://courses.platzi.com/blog/content/images/2016/11/Growth-Hacking-Tools.jpg')  fixed;
	margin: 0;
	text-align: center;
	padding: 2%;
	box-sizing: border-box;
}

.informacion1 img{
	padding: 10px;
	width: 15%;
	height: 15%;
	box-sizing: border-box;
}

.taller{
	color: lightgrey;
	height: 400px;
	padding: 100px;
	box-sizing: border-box;
}

.taller h1{
	font-size: 50px;
}

.boton{
	width: 100%;
}

.boton a p{
	border: 1px solid lightskyblue;
	background-color: lightblue;
	color: white;
	width: 200px;
	height: 50px;
	display: inline-block;
	font-size: 20px;
}

.boton a{
	text-decoration: :none;
}

.promocion{
	width: 100%;
	background-color: lightgreen;
	text-align: center;
	margin: 0;
	padding: 2%;
	box-sizing: border-box;
}

.promocion_cont{
	color: white;
	width: 60%;
	height: 400px;	
	margin-left: 20%;
}

.promocion_cont h1{
	font-size: 50px;
}

.promocion_cont p{
	font-size: 20px;
}

.informacion_curso{
	background-color: white;
	width: 100%;
	padding: 2%;
	box-sizing: border-box;
}

.informacion_curso_texto1{
	width: 90%;
	height: 20%;	
	margin-left: 10%;
}

.informacion_curso_texto1 p{
	font-size: 20px;
}

.informacion_curso_texto2{
	width: 60%;
	height: 80%;
	margin-left: 10%;
	float: left;
}

.informacion_curso_texto2 p{
	font-size: 20px;
}

.informacion_curso_texto2 img{
	width: 70%;
	height: 50%;
}

.formulario{
	width: 40%;
	height: 80%;
}